
header {
    margin: auto;
    padding: 0px;
}

.header-content {
    background: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    width: 82.5%;
    margin: auto;
    height: 600px;
    
    /* height: 100vh; */
}